{% extends "admin/layout.twig" %}

{% block content %}
    <h1>Change Password</h1>
    {% if flash['error'] %}
        <div class="alert alert-danger" role="alert">
            {{ flash['error'] }}
        </div>
    {% endif %}

    {% if flash['message'] %}
        <div class="alert alert-primary" role="alert">
            {{ flash['message'] }}
        </div>
    {% endif %}

    <form action="/admin/profile/savePassword" method="post" >
        <input type="password" name="password" placeholder="Type your current password" ><br>
        <input type="password" name="password1" placeholder="Type a new password" ><br>
        <input type="password" name="password2" placeholder="Confirm new password" ><br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}