{% extends "layout.twig" %}

{% block content %}
    <h1>Add Job</h1>
    <form action="/jobs/add" method="post" >
        <label for="">Title:</label>
        <input type="text" name="title" ><br>
        <label for="">Description:</label>
        <input type="text" name="description"><br>
        <button type="submit">Save</button>
    </form>
{% endblock %}