{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>

<ul>
    <li><a href="/admin/users/add" >Add User</a></li>
    <li><a href="/admin/jobs/add" >Add Job</a></li>
    <li><a href="/admin/profile/changePassword" >Change Password</a></li>
</ul>
<br><br>
<a href="/logout" >Logout</a>
{% endblock %}